#main-page.container {
    .main-content {
        #main-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            h2#search-results-heading {
                font-size: calc(1.2rem + 1vmin);
                font-family: "museo-slab", "Roboto Slab", Georgia, "Times New Roman", serif;
                line-height: 1.5;
                font-weight: 700;
            }

            #pagination-summary {
                padding-bottom: 1rem;
            }

            /* --- Data Grid --- */
            .facets-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
                margin-bottom: 2rem;
                list-style-type: none;
                padding-left: 0;

                &:focus {
                    outline: 2px dashed #0056b3;
                    outline-offset: 4px;
                }

                &:focus:not(:focus-visible) {
                    outline: none;
                }

                @media (max-width: 1200px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
